db_username=''
db_port=
db_host=''
db_pass=''
db_name=''


export DATABASE_URL=postgres://$(db_username):$(db_pass)@$(db_host):$(db_port)/$(db_name)
# DATABASE_URL=

export CLOUDINARY_URL=

export secret_key='some_secrety_secrety'

export GOOGLE_PROFILE_URL="https://www.googleapis.com/oauth2/v1/userinfo"

# Email Client
export SMTP_CLIENT=
export MAIL_ADDR=
export MAIL_USERNAME=
export MAIL_PASS=

# In minutes
export REFRESH_TOKEN_DURATION=$(30*24*60)
export AUTH_TOKEN_DURATION=120

# export RUST_LOG=debug
# export actix_web=debug
# export actix_todo=debug

