<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>{% block title %}Got-ya-Id{% endblock title %}</title>
    {%endblock head %}
</head>
<body>
    <div class="container">
        <div id="greeting"><p id="hello"> Hello <span id="username">{{username}},</span></p></div>
        <div class="content">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>

        <div class="footer">
            <p class="footer-text">
            got ya Id
            </p>
            <p class="footer-text">
            <span id="copyright">&copy</span>
            2019
            </p>
        </div>
</body>
</html>
