{% extends "base.html" %}

{% block title %}Activation{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}

    <div class="main-info">
        <p id="content-message">Pleased to have you on Got Your Id buddy. 
        We are thrilled that you could join us.
        Just follow the link below to activate your account.</p>
        <a id="activate-link" href="{{ link  }}"><p id="act-button">activate</p></a>
    </div>
    <div class="sign">
        <p class="salutation">Cheers!</p>
        <span class="sign-off">The got ya id team</span>
    </div>


{% endblock content %}
