{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Reset Password{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}

    <div class="main-info">
        <p id="content-message">

        {% if not name %}
            You are about to change your password. Unbelievable! This is big, man, this is huge! Just kidding, input your new password
            </p>
            <form action="{{ link }}", method="GET"> 
                {{ macros::input(label="Password", class="reset-input",label_class="reset-label", type="password", name="new password")  }}
                {{ macros::input(label="Re-enter Password", class="reset-input",type="password", label_class="reset-label", name="confirm password")  }}
                
                <p> {{ macros::input(type="submit",class="submit-reset", value="change password")  }} </p>
        </form>
        {% else %}
            You have changed your password. With great success, buddy. This calls for paaaartyyyy!

        {% endif %}

    </div>


{% endblock content %}
